# TODO: Contains Docker services under development. Not for production use.
services:
  bag_exporter:
    build:
      context: .
      dockerfile: ros2_ws/src/utils/bag_exporter/Dockerfile
    environment:
      - PROJECT_NAME
      - BAG_ANALYSIS_BAG_NAME
      - BAG_ANALYSIS_TIMESTAMP
      - BAG_ANALYSIS_TOPIC
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - ROS_DOMAIN_ID
    volumes:
      - '$PROJECTS_ROOT:/app/projects'
    network_mode: host

  bag_recorder:
    build:
      context: .
      dockerfile: ros2_ws/src/utils/bag_recorder/Dockerfile
    environment:
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - ROS_DOMAIN_ID
    volumes:
      - '$PROJECTS_ROOT:/app/projects'
    network_mode: host

  eeg_batcher:
    build:
      context: .
      dockerfile: ros2_ws/src/eeg/eeg_batcher/Dockerfile
    env_file:
      - ${ENV_FILE}
    environment:
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - ROS_DOMAIN_ID
    privileged: true
    network_mode: host
