# ----------------------
# ROS Configuration
#
# ROS_DOMAIN_ID sets the ROS domain ID to isolate communication.
# 
# Default value: 0 is a good default if you're running NeuroSimo in an isolated network
# (e.g., behind a separate router) or if you're the only ROS user on your network.
#
# However, if you're in a network with other ROS users (e.g., university network,
# or several NeuroSimo installations on different computers within the same network),
# you should set ROS_DOMAIN_ID to a unique value (e.g., in range 40-50) to avoid
# interference between different ROS systems.
# ----------------------
ROS_DOMAIN_ID=0

# ---------------------
# EEG Configuration
# ---------------------
EEG_PORT=50000
# Supported values: 'neurone', 'turbolink'.
EEG_DEVICE=neurone

# TurboLink-specific settings (ignored for NeurOne devices).
TURBOLINK_SAMPLING_FREQUENCY=5000
TURBOLINK_EEG_CHANNEL_COUNT=64

# The number of consecutive dropped samples tolerated from the EEG device before entering an error state.
#
# NOTE: There is another setting, which determines the allowed dropped samples within one-second
#   sliding windows elsewhere in the pipeline (namely, preprocessor and decider). See DROPPED_SAMPLE_THRESHOLD.
#
# TODO: Overlaps with DROPPED_SAMPLE_THRESHOLD. These settings should be unified.
NUM_OF_TOLERATED_DROPPED_SAMPLES=1

# EEG simulator configuration (for development purposes only).
# TODO: Keep as 'false' while under development.
EEG_SIMULATOR_SIMULATE_EEG_DEVICE=false

# ---------------------
# LabJack Configuration
# ---------------------
SIMULATE_LABJACK=false

# ---------------------
# Safety Configuration
# ---------------------
# Minimum time (in seconds) between consecutive TMS trials. A trial can consist of one or more pulses.
# Examples: 2.5, 2.0, or 2 (2.0 and 2 are equivalent).
MINIMUM_INTERTRIAL_INTERVAL=2

# Maximum number of dropped samples tolerated per second before entering an error state.
DROPPED_SAMPLE_THRESHOLD=4

# Maximum timing latency (in seconds) tolerated for stimulation. Exceeding this value prevents stimulation.
TIMING_LATENCY_THRESHOLD=0.005

# Tolerance for triggering timing (in seconds).
TRIGGERING_TOLERANCE=0.0

# ---------------------
# EEG Channel Batcher (for Web-UI)
# ---------------------
# TODO: Verify usage. Remove if deprecated.
EEG_BATCHER_BATCH_SIZE=500
EEG_BATCHER_DOWNSAMPLE_RATIO=10

# ---------------------
# Miscellaneous
# ---------------------
ROS_LOG_LEVEL=info
TZ=Europe/Helsinki
REACT_APP_LOCALE=fi-fi
