[Unit]
Description=neurosimo
After=docker.service network-online.target
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes

User={{ target_user }}
WorkingDirectory={{ repo_root }}

Environment=PROJECTS_ROOT={{ projects_root }}
Environment=RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
Environment=CYCLONEDDS_URI={{ repo_root }}/config/cyclonedds.xml
Environment=DISPLAY={{ display_number }}
Environment=COMPOSE_PROJECT_NAME=neurosimo
Environment=COMPOSE_LOCK=%T/neurosimo-compose.lock

LimitRTPRIO=99
LimitMEMLOCK=10000000000

# Check X server readiness (fail if not ready) and allow Docker to connect
ExecStartPre=/bin/bash -lc 'for i in {1..30}; do xhost >/dev/null 2>&1 && exit 0; sleep 1; done; exit 1'
ExecStartPre=/usr/bin/xhost +local:docker

# Start containers
{% if use_gpu | bool %}
ExecStart=/usr/bin/flock -w 120 ${COMPOSE_LOCK} /usr/bin/docker compose -f {{ repo_root }}/docker-compose.yml --profile gpu up -d --remove-orphans --force-recreate
{% else %}
ExecStart=/usr/bin/flock -w 120 ${COMPOSE_LOCK} /usr/bin/docker compose -f {{ repo_root }}/docker-compose.yml --profile non-gpu up -d --remove-orphans --force-recreate
{% endif %}

# Stop containers
ExecStop=/usr/bin/flock -w 120 ${COMPOSE_LOCK} /usr/bin/docker compose -f {{ repo_root }}/docker-compose.yml down --remove-orphans

TimeoutStartSec=0
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
