[Unit]
Description=neurosimo
After=docker.service network-online.target
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes

User={{ target_user }}
WorkingDirectory={{ repo_root }}

Environment=PROJECTS_ROOT={{ projects_root }}
Environment=RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
Environment=CYCLONEDDS_URI={{ repo_root }}/ros2_ws/config/cyclonedds.xml
Environment=DISPLAY={{ display_number }}
Environment=COMPOSE_PROJECT_NAME=neurosimo

LimitRTPRIO=99
LimitMEMLOCK=10000000000

# Check X server readiness and allow Docker to connect
ExecStartPre=/bin/bash -c 'for i in {1..30}; do if xhost >& /dev/null; then break; else sleep 1; fi; done'
ExecStartPre=/usr/bin/xhost +local:docker

# Start containers
{% if use_gpu | bool %}
ExecStart=/usr/bin/docker compose -f {{ repo_root }}/docker-compose.yml --profile gpu up -d --remove-orphans
{% else %}
ExecStart=/usr/bin/docker compose -f {{ repo_root }}/docker-compose.yml --profile non-gpu up -d --remove-orphans
{% endif %}

# Stop containers
ExecStop=/usr/bin/docker compose -f {{ repo_root }}/docker-compose.yml down --remove-orphans

TimeoutStartSec=0
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
